body {
  background-color: #FFF;
  font-family: "Titillium Web", sans-serif;
  color: #333;
}

.header {
  font-size: 30pt;
  text-align: center;
  padding: 0;
}

.sub-header {
  font-size: 15pt;
  text-align: center;
  padding-bottom: 50px;
}

li {
  font-size: 12pt;
  padding: 10px 0px;
  list-style: none;
}
