<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta property="og:description" content="a random internet person's page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/{% block css %}{% endblock %}.css">
    <title>leela's introspection</title>
</head>

<body>
    <header>
        <a href="/">home</a> -
        <a href="/projects.html">projects</a> -
        <a href="/stats.html">stats</a> -
        <a href="/hobby.html">hobbies</a>
    </header>

    <main>{% block main %}{% endblock %}</main>

    <footer>made with the big gay</footer>
</body>

</html>