{% extends "base.html" %}
{% block css %}hobby{% endblock %}

{% block main %}
<h2>some of my hobbies</h2>

<section>
    <h3>photography</h3>
    <p>
        i'm into photography, more specifically anything analogue. be it
        instant stuff like polaroid or film, i love it. the wackier the better!
    </p>
    <h5>my gear:</h5>
    <ul>
        <li>Canon EOS 500N</li>
        <li>Canon 50mm f1.8 prime lens</li>
        <li>Sigma 100-300mm f4.0 zoom lens</li>
        <li>Polaroid Supercolor 670AF</li>
        <li>Lomography ActionSampler</li>
    </ul>
</section>

<section>
    <h3>programming</h3>
    <p>
        been doing that for a few years. experienced in rust, kotlin and java
        first and foremost, though i can wrangle js/ts, python and a few others
        if i need to.
    </p>
    <p>
        go is a blight on this discipline and should never be taken seriously.
        java may be incredibly unfun but at least it is usable, go isn't.
        js/ts is not much better.
    </p>
</section>

<section>
    <h3>biking</h3>
    <p>i bike everywhere and nowhere, and you should too</p>
</section>

<section>
    <h3>pokemon</h3>
    <p>
        classic childhood favorite, sadly anything released after the switch
        came out is kinda weak. people like drayano carry these games by now.
        got like 80% into a living dex a few years ago and gave up
    </p>
</section>

<section>
    <h3>chess</h3>
    <p>google en passant</p>
</section>

{% endblock %}