{% extends "base.html" %}
{% block css %}hobby{% endblock %}

{% block main %}
<h2>some of my hobbies</h2>

<section>
    <h3>photography</h3>
    <p>
        i'm into photography, more specifically anything analogue. be it
        instant stuff like polaroid or regular film, i'm into it.
        repairing things is also quite fun!
    </p>
    <h5>some of my gear:</h5>
    <ul>
        <li>Minolta XD-7</li>
        <li>Minolta XG-M</li>
        <li>Minolta X-300s</li>
        <li>Minolta SR-T 303</li>
        <li>Minolta Rokkor 50mm f1.7 lens</li>
        <li>Minolta Rokkor 135mm f3.5 tele lens</li>
        <li>Sigma 28mm f3.5 macro lens</li>
        <li>Polaroid SX-70 Sonar</li>
    </ul>
    <p>
        out of these, the XD and XG are probably my favorite for 35mm.
        the SX-70 is really cool too.
    </p>
</section>

<section>
    <h3>programming</h3>
    <p>
        been doing that for a few years. experienced in rust, kotlin and java
        first and foremost, though i can wrangle js/ts, python and a few others
        if i need to.
    </p>
    <p>
        go is a blight on this discipline and should never be taken seriously.
        java may be incredibly unfun but at least it is usable, go isn't.
        js/ts is not much better.
    </p>
</section>

<section>
    <h3>biking</h3>
    <p>i bike everywhere and nowhere, and you should too</p>
</section>

<section>
    <h3>pokemon</h3>
    <p>
        classic childhood favorite, sadly anything released after the switch
        came out is kinda weak. people like drayano carry these games by now.
        got like 80% into a living dex a few years ago and gave up
    </p>
</section>

<section>
    <h3>chess</h3>
    <p>google en passant</p>
</section>

{% endblock %}