{% extends "base.html" %}
{% block css %}hobby{% endblock %}

{% block main %}
<h2>some of my hobbies</h2>

<section>
    <h3>photography</h3>
    <p>
        i'm into photography, more specifically anything analogue. be it
        instant stuff like polaroid or regular film, i'm into it.
        repairing things is also quite fun - i mostly get defective/untested
        stuff!
        minolta is easily my favourite manufacturer, but i'll give anything i
        can get my hands on a try.
    </p>
    <h5>some of my gear:</h5>
    <ul>
        <li>Minolta XD-7</li>
        <li>Olympus 35RC</li>
        <li>Minolta XG-M</li>
        <li>Minolta SR-T 303</li>
        <li>Polaroid SX-70 Sonar</li>
        <li>Polaroid Image Pro (600/I modded, Minolta-equivalent model)</li>
        <li>Minolta MD 50mm f1.4 lens</li>
        <li>Minolta MD Rokkor 28mm f3.5 lens</li>
        <li>Minolta MD Rokkor 135mm f3.5 lens</li>
        <li>Minolta MD 70-210mm f4 lens</li>
    </ul>
    <p>
        out of these, the XD is my favorite for 35mm.
        the SX-70 is really cool too, even if it was a challenge to repair
        compared to my other cameras.
        the Image is easily the most fun camera.
    </p>
</section>

<section>
    <h3>programming</h3>
    <p>
        been doing that for a few years. experienced in rust, kotlin and java
        first and foremost, though i can wrangle js/ts, python and a few others
        if i need to.
    </p>
    <p>
        rust is easily my favourite language - no other language i have used
        so far has gotten as much right as rust has. zig looks promising as a
        more 'fun' lang that restricts less in exchange for less safety,
        and i want to give it a try sometime.
    </p>
    <p>
        i wish people would stop using languages like go - despite being created
        in this century, they fall for the same issues that C did over 50 years
        ago. they might be modern by creation date, but not by actual language
        design. also, oo is not modern anymore.
    </p>
</section>

<section>
    <h3>hobby electronics</h3>
    <p>
        tying in with repairing old cameras, hobby electronics can be a lot of fun.
        i've managed to design a few pcbs with kicad, and generally enjoy doing electronics work.
    </p>
    <p>
        my dream project would be to redesign a gameboy pcb someday, maybe the sp. would be a lot of work but really
        rewarding!
    </p>
</section>

<section>
    <h3>biking</h3>
    <p>
        i bike everywhere and nowhere, and you should too. car-centric society
        sucks and is a detriment to the world.
    </p>
</section>

<section>
    <h3>games</h3>
    <p>
        pokemon: classic childhood favorite, sadly anything released after the switch
        came out is kinda weak. people like drayano carry these games by now.
        got like 80% into a living dex a few years ago and gave up
    </p>
    <p>
        rhythm: pistol whip, beat saber and a few others are really fun. was into more rhythm games in the past, and
        want to get back into some someday
    </p>
    <p>
        chess: i'm not good at it by any metric, but it's fun
    </p>
</section>
{% endblock %}