{% extends "base.html" %}
{% block css %}index{% endblock %}

{% block main %}
<span>hello i'm ellie leela</span>
<span>programming for fun - enjoy creating languages - rust is good</span>
<span>studying at university - pokemon nerd - making flying machines</span>
<span>20 - she/they - trans, probably aroace</span>

<span class="contact">
    <a href="https://github.com/anellie">github</a> - 
    <a href="https://matrix.to/#/@ellie:angm.xyz">matrix</a> - 
    <a href="https://git.angm.xyz/ellie">gitea</a>
</span>
{% endblock %}
