{% extends "base.html" %}
{% block css %}index{% endblock %}

{% block main %}
<span>💛 hello, i'm ellie leela 💛</span>
<span>🤍 hobbyist, mostly low-level programmer 🦀 🤍</span>
<span>💜 likes photography, biking, electronics and more 💜</span>
<span>🖤born 21 rotations ago, they/she, enby, demiro and gay 🖤</span>

<span class="contact">
    <a href="https://github.com/anellie">github</a> -
    <a href="https://matrix.to/#/@leela:elia.garden">matrix</a> -
    <a href="https://git.elia.garden/leela">my git</a>
</span>
{% endblock %}