{% extends "base.html" %}
{% block css %}index{% endblock %}

{% block main %}
<span>hello, i'm ellie leela</span>
<span>hobbyist, mostly low-level programmer 🦀</span>
<span>loves working on languages, emulators, and operating systems</span>
<span>currently mostly working on private projects</span>
<span>likes pokemon, biking, photography and more</span>
<span>born 21 rotations ago, she/they, trans & demi-aroace</span>

<span class="contact">
    <a href="https://github.com/anellie">github</a> -
    <a href="https://matrix.to/#/@leela:elia.garden">matrix</a> -
    <a href="https://git.elia.garden/leela">my git</a>
</span>
{% endblock %}